@model MvcQuiniela.ViewModel.QuinielaViewModel
@{
    TempData["DatosLogin"] = ViewBag.DatosLogin;

    ViewBag.Title = "Detalle de Puntos Por Alias";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";


}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
              @if (Model.vm_pronosticos.Count() > 0)
              {
                <h2>
                    Detalle de Puntos De @Model.vm_pronosticos.ElementAt(0).alias 
                        
                </h2>
              }
              else
              {
                <h2>
                    Alias no ha realizado el ingreso de ningùn pronostico.

                </h2>
              }
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Partido</th>
                                <th>Marcador</th>
                                <th>Pronostico Ingresado</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.vm_pronosticos.Count() > 0 )
                            {
                               for (int i = 0; i < Model.vm_pronosticos.Count(); i++)
                                {
                                    <tr>
                                        <td>@Model.vm_pronosticos.ElementAt(i).equipo1 - @Model.vm_pronosticos.ElementAt(i).equipo2</td>
                                        <td>@Model.vm_pronosticos.ElementAt(i).marcador1 - @Model.vm_pronosticos.ElementAt(i).marcador2</td>
                                        <td>@Model.vm_pronosticos.ElementAt(i).pronostico1 - @Model.vm_pronosticos.ElementAt(i).pronostico2</td>
                                        <td>@Model.vm_pronosticos.ElementAt(i).puntos</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Examples -->
