@model MvcQuiniela.ViewModel.QuinielaViewModel
@{
    TempData["DatosLogin"] = ViewBag.DatosLogin;

    ViewBag.Title = "Ingreso Pronostico";
    Layout = "~/Views/Shared/_LayoutQuiniela.cshtml";

    string idEquipo1 = "";
    string idEquipo2 = "";
    string idBotonMasE1 = "";
    string idBotonMenosE1 = "";
    string idBotonMasE2 = "";
    string idBotonMenosE2 = "";

    string idMarcadorPronostico1 = "";
    string idMarcadorPronostico2 = "";
    string idHdMarcadorPronostico1 = "";
    string idHdMarcadorPronostico2 = "";

    string pronostico1 = "";
    string pronostico2 = "";

    string estado = "";
    string descEstado = "";
    string classCard = "";
    string fechaActual = "//";
    string[] fecha = fechaActual.Split('/');
    string mes = "";

    string refFecha = "";
    string idFecha = "";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<script type="text/javascript">
    function mensajeError(mensaje){
        showNotification("bg-black", mensaje, "top", "center", "animated bounceInDown", "animated bounceOutDown");
    }
    
    function aumentaMarcador(id, id2, a, eq1, eq2, p, cambio){
        var primerMarcador = false;
        var marcador = document.getElementById(id).innerHTML;
        var marcador2 = document.getElementById(id2).innerHTML;

        var valorMarcador = document.getElementById("hd_" + id).value;
        var valorMarcador2 = document.getElementById("hd_" + id2).value;

        var btnMasEq1 = document.getElementById("hd_BMasE1_" + id);
        var btnMenosEq1 = document.getElementById("hd_BMenosE1_" + id);
    
        var btnMasEq2 = document.getElementById("hd_BMasE2_" + id2);
        var btnMenosEq2 = document.getElementById("hd_BMenosE2_" + id2);

        if(cambio == 1){
            if(valorMarcador == -1){
                marcador = 1;
                marcador2 = 0;
                primerMarcador = true;
            }else{
                marcador++;
            }
        }else{
            if(valorMarcador2 == -1){
                marcador = 0;
                marcador2 = 1;
                primerMarcador = true;
            }else{
                marcador2++;
            }
        }

        //Deshabilita botones
        btnMasEq1.disabled = true;
        btnMasEq2.disabled = true;
        btnMenosEq1.disabled = true;
        btnMenosEq2.disabled = true;

        var _pronostico = {};
        _pronostico.idAlias = a;
        _pronostico.idEquipo1 = eq1;
        _pronostico.idEquipo2 = eq2;
        _pronostico.marcador1 = marcador;
        _pronostico.marcador2 = marcador2;
        _pronostico.idPartido = p;
        
        $.ajax({
            type: "POST",
            url: "/Quiniela/ActualizaPronostico",
            data: JSON.stringify(_pronostico),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //alert('ok');

            },
            error: function(err) {
                //alert("Error: " + err.responseText);

                if(err.responseText == "OK"){
                    if(cambio == 1){
                        document.getElementById(id).innerHTML = marcador;
                        document.getElementById("hd_" + id).value = marcador;

                        if(primerMarcador){
                            document.getElementById(id2).innerHTML = marcador2;
                            document.getElementById("hd_" + id2).value = marcador2;
                        }
                    }else{
                        document.getElementById(id2).innerHTML = marcador2;
                        document.getElementById("hd_" + id2).value = marcador2;

                        if(primerMarcador){
                            document.getElementById(id).innerHTML = marcador;
                            document.getElementById("hd_" + id).value = marcador;
                        }
                    }
                }else{
                    mensajeError(err.responseText);
                }

                //Habilita botones de nuevo
                btnMasEq1.disabled = false;
                btnMasEq2.disabled = false;
                btnMenosEq1.disabled = false;
                btnMenosEq2.disabled = false;
            }
        });
    }


    function reduceMarcador(id, id2, a, eq1, eq2, p, cambio){
        var marcador = document.getElementById(id).innerHTML;
        var marcador2 = document.getElementById(id2).innerHTML;
        var continua = true;

        var btnMasEq1 = document.getElementById("hd_BMasE1_" + id);
        var btnMenosEq1 = document.getElementById("hd_BMenosE1_" + id);
    
        var btnMasEq2 = document.getElementById("hd_BMasE2_" + id2);
        var btnMenosEq2 = document.getElementById("hd_BMenosE2_" + id2);

        if(cambio == 1){
            
            if(marcador>0){
                marcador--;
            }else{
                continua = false;
            }
        }else{
            if(marcador2>0){
                marcador2--;
            }else{
                continua = false;
            }
        }

        if(continua){
            var _pronostico = {};
            _pronostico.idAlias = a;
            _pronostico.idEquipo1 = eq1;
            _pronostico.idEquipo2 = eq2;
            _pronostico.marcador1 = marcador;
            _pronostico.marcador2 = marcador2;
            _pronostico.idPartido = p;

            //Deshabilita botones
            btnMasEq1.disabled = true;
            btnMasEq2.disabled = true;
            btnMenosEq1.disabled = true;
            btnMenosEq2.disabled = true;
            
            $.ajax({
                type: "POST",
                url: "/Quiniela/ActualizaPronostico",
                data: JSON.stringify(_pronostico),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert('ok');

                },
                error: function(err) {
                    //alert("Error: " + err.responseText);

                    if(err.responseText == "OK"){
                        if(cambio == 1){
                            document.getElementById(id).innerHTML = marcador;
                        }else{
                            document.getElementById(id2).innerHTML = marcador2;
                        }
                    }else{
                        mensajeError(err.responseText);
                    }

                    //Habilita botones de nuevo
                    btnMasEq1.disabled = false;
                    btnMasEq2.disabled = false;
                    btnMenosEq1.disabled = false;
                    btnMenosEq2.disabled = false;
                }
            });
        }
    }
</script>
    
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Ingreso de Pron&oacute;sticos
                    <small>Selecciona tu alias a la derecha, los marcadores se actualizan autom&aacute;ticamente al presionar los botones.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">today</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            @for (int i = 0; i < Model.vm_pronosticos.Count(); i++)
                            {
                                if(fechaActual != Model.vm_pronosticos.ElementAt(i).fecha){
                                fechaActual = Model.vm_pronosticos.ElementAt(i).fecha;

                                fecha = fechaActual.Split('/');

                                switch(Convert.ToInt32(fecha[1])){
                                    case 1:
                                        mes = "Enero";
                                        break;
                                    case 2:
                                        mes = "Febrero";
                                        break;
                                    case 3:
                                        mes = "Marzo";
                                        break;
                                    case 4:
                                        mes = "Abril";
                                        break;
                                    case 5:
                                        mes = "Mayo";
                                        break;
                                    case 6:
                                        mes = "Junio";
                                        break;
                                    case 7:
                                        mes = "Julio";
                                        break;
                                    case 8:
                                        mes = "Agosto";
                                        break;
                                    case 9:
                                        mes = "Septiembre";
                                        break;
                                    case 10:
                                        mes = "Octubre";
                                        break;
                                    case 11:
                                        mes = "Noviembre";
                                        break;
                                    case 12:
                                        mes = "Diciembre";
                                        break;
                                }

                                refFecha = "#" + fecha[0] + fecha[1];
                                <li>
                                   <a href='@refFecha'>@fecha[0] de @mes</a>
                                </li>
                                }
                            }

                            @{
                                fechaActual = "";
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            @foreach (var itemAlias in Model.vm_alias)
                            {
                                <li>
                                   <a href='~/Quiniela/IngresoPronostico/@itemAlias.al_id'>@itemAlias.al_nickname</a>
                                </li>
                            }
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    
    @for (int i = 0; i < Model.vm_pronosticos.Count(); i++)
    {
        idEquipo1 = Model.vm_pronosticos.ElementAt(i).id_equipo1.ToString() + ".png";
        idEquipo2 = Model.vm_pronosticos.ElementAt(i).id_equipo2.ToString() + ".png";
        estado = Model.vm_pronosticos.ElementAt(i).estado.ToString();

        if(Model.vm_pronosticos.ElementAt(i).pronostico1.ToString() == "-1"){
            pronostico1 = "-";
        }else{
            pronostico1 = Model.vm_pronosticos.ElementAt(i).pronostico1.ToString();
        }

        if(Model.vm_pronosticos.ElementAt(i).pronostico2.ToString() == "-1"){
            pronostico2 = "-";
        }else{
            pronostico2 = Model.vm_pronosticos.ElementAt(i).pronostico2.ToString();
        }

        idMarcadorPronostico1 = Model.vm_pronosticos.ElementAt(i).id_partido.ToString() + "_" + Model.vm_pronosticos.ElementAt(i).id_equipo1.ToString();
        idMarcadorPronostico2 = Model.vm_pronosticos.ElementAt(i).id_partido.ToString() + "_" + Model.vm_pronosticos.ElementAt(i).id_equipo2.ToString();

        idHdMarcadorPronostico1 = "hd_" + idMarcadorPronostico1;
        idHdMarcadorPronostico2 = "hd_" + idMarcadorPronostico2;

        idBotonMasE1 = "hd_BMasE1_" + idMarcadorPronostico1;
        idBotonMenosE1 = "hd_BMenosE1_" + idMarcadorPronostico1;
        idBotonMasE2 = "hd_BMasE2_" + idMarcadorPronostico2;
        idBotonMenosE2 = "hd_BMenosE2_" + idMarcadorPronostico2;

        switch(estado){
            case "V":
                descEstado = "No iniciado";
                classCard = "header";
                break;
            case "C":
                descEstado = "Cierre de ingreso de pronosticos";
                classCard = "header bg-lime";
                break;
            case "I":
                descEstado = "Iniciado";
                classCard = "header bg-light-green";
                break;
            case "S":
                descEstado = "Suspendido";
                classCard = "header bg-amber";
                break;
            case "T":
                descEstado = "Finalizado";
                classCard = "header bg-blue-grey";
                break;
            default:
                descEstado = "Indefinido";
                classCard = "header";
                break;
        }

        if(fechaActual != Model.vm_pronosticos.ElementAt(i).fecha){
            fechaActual = Model.vm_pronosticos.ElementAt(i).fecha;

            fecha = fechaActual.Split('/');

            switch(Convert.ToInt32(fecha[1])){
                case 1:
                    mes = "Enero";
                    break;
                case 2:
                    mes = "Febrero";
                    break;
                case 3:
                    mes = "Marzo";
                    break;
                case 4:
                    mes = "Abril";
                    break;
                case 5:
                    mes = "Mayo";
                    break;
                case 6:
                    mes = "Junio";
                    break;
                case 7:
                    mes = "Julio";
                    break;
                case 8:
                    mes = "Agosto";
                    break;
                case 9:
                    mes = "Septiembre";
                    break;
                case 10:
                    mes = "Octubre";
                    break;
                case 11:
                    mes = "Noviembre";
                    break;
                case 12:
                    mes = "Diciembre";
                    break;
            }

            refFecha = "#" + fecha[0] + fecha[1];
            idFecha = fecha[0] + fecha[1];

                    <div id="@idFecha" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="alert bg-indigo" align="center">
                            @fecha[0] de @mes
                        </div>
                    </div>
        }

        if (estado == "V"){
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="@classCard">
                        <h2>
                            @Model.vm_pronosticos.ElementAt(i).estadio<small>@Model.vm_pronosticos.ElementAt(i).fecha &#64; @Model.vm_pronosticos.ElementAt(i).hora [@descEstado]</small>
                        </h2>
                    </div>
                    <div class="body">
                        <table width="100%" cellpadding="2" cellspacing="2" border="0">
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td align="center" colspan="3"><b>Mi Pron&oacute;stico</b></td>
                            </tr>

                            <tr>
                                <td width="50px"><img width="42" src="~/images/flags/@idEquipo1" alt="@Model.vm_pronosticos.ElementAt(i).equipo1" /></td>
                                <td>@Model.vm_pronosticos.ElementAt(i).equipo1</td>
                                <td width="5px">
                                    <button id="@idBotonMasE1" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" onclick="aumentaMarcador('@idMarcadorPronostico1', '@idMarcadorPronostico2',  @ViewBag.DatosLogin.id_alias, @Model.vm_pronosticos.ElementAt(i).id_equipo1, @Model.vm_pronosticos.ElementAt(i).id_equipo2, @Model.vm_pronosticos.ElementAt(i).id_partido, 1);">
                                        <i class="material-icons">add</i>
                                    </button>
                                </td>
                                <td align="center" width="25px"><span id="@idMarcadorPronostico1">@pronostico1</span></td>
                                <td width="5px">
                                    <button id="@idBotonMenosE1" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" onclick="reduceMarcador('@idMarcadorPronostico1', '@idMarcadorPronostico2',  @ViewBag.DatosLogin.id_alias, @Model.vm_pronosticos.ElementAt(i).id_equipo1, @Model.vm_pronosticos.ElementAt(i).id_equipo2, @Model.vm_pronosticos.ElementAt(i).id_partido, 1);">
                                        <i class="material-icons">remove</i>
                                    </button>
                                    <input type="hidden" id="@idHdMarcadorPronostico1" value="@Model.vm_pronosticos.ElementAt(i).pronostico1.ToString()" />
                                </td>
                            </tr>
                            <tr>
                                <td><img width="42" src="~/images/flags/@idEquipo2" alt="@Model.vm_pronosticos.ElementAt(i).equipo2" /></td>
                                <td>@Model.vm_pronosticos.ElementAt(i).equipo2</td>
                                <td>
                                    <button id="@idBotonMasE2" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" onclick="aumentaMarcador('@idMarcadorPronostico1', '@idMarcadorPronostico2',  @ViewBag.DatosLogin.id_alias, @Model.vm_pronosticos.ElementAt(i).id_equipo1, @Model.vm_pronosticos.ElementAt(i).id_equipo2, @Model.vm_pronosticos.ElementAt(i).id_partido, 2);">
                                        <i class="material-icons">add</i>
                                    </button>
                                </td>
                                <td align="center"><span id="@idMarcadorPronostico2">@pronostico2</span></td>
                                <td>
                                    <button id="@idBotonMenosE2" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" onclick="reduceMarcador('@idMarcadorPronostico1', '@idMarcadorPronostico2',  @ViewBag.DatosLogin.id_alias, @Model.vm_pronosticos.ElementAt(i).id_equipo1, @Model.vm_pronosticos.ElementAt(i).id_equipo2, @Model.vm_pronosticos.ElementAt(i).id_partido, 2);">
                                        <i class="material-icons">remove</i>
                                    </button>
                                    <input type="hidden" id="@idHdMarcadorPronostico2" value="@Model.vm_pronosticos.ElementAt(i).pronostico2.ToString()" />
                                </td>
                            </tr>
                        </table>
                        <br />
                        <button class="btn bg-blue btn-lg btn-block waves-effect" type="button">Puntos del partido <span class="badge">-</span></button>
                    </div>
                </div>
            </div>
        }else{
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="@classCard">
                        <h2>
                            @Model.vm_pronosticos.ElementAt(i).estadio<small>@Model.vm_pronosticos.ElementAt(i).fecha &#64; @Model.vm_pronosticos.ElementAt(i).hora [@descEstado]</small>
                        </h2>
                    </div>
                    <div class="body">
                        <table width="100%" cellpadding="5px" cellspacing="2" border="0">
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td align="center" width="55px"><b>Pron&oacute;stico</b></td>
                                <td align="center" width="55px"><b>Partido</b></td>
                            </tr>
                            <tr>
                                <td width="50px"><img width="42" src="~/images/flags/@idEquipo1" alt="@Model.vm_pronosticos.ElementAt(i).equipo1" /></td>
                                <td>@Model.vm_pronosticos.ElementAt(i).equipo1</td>
                                <td align="center">@pronostico1</td>
                                <td align="center">@Model.vm_pronosticos.ElementAt(i).marcador1</td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="50px"><img width="42" src="~/images/flags/@idEquipo2" alt="@Model.vm_pronosticos.ElementAt(i).equipo2" /></td>
                                <td>@Model.vm_pronosticos.ElementAt(i).equipo2</td>
                                <td align="center">@pronostico2</td>
                                <td align="center">@Model.vm_pronosticos.ElementAt(i).marcador2</td>

                            </tr>
                        </table>
                        <br />
                        <button class="btn bg-blue btn-lg btn-block waves-effect" type="button" onclick="location.href='/Quiniela/DetallePorPartido/@Model.vm_pronosticos.ElementAt(i).id_partido';">Puntos del partido <span class="badge">@Model.vm_pronosticos.ElementAt(i).puntos</span></button>
                    </div>
                </div>
            </div>
        }

    
    }
                </div>
            </div>
        </div>
    </div>
</div>


@section CustomJs {
    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="../../js/pages/ui/notifications.js"></script>
}
