<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/all-themes.css" rel="stylesheet" />

    @RenderSection("CssStyles", false)
</head>
@{
    string classTablaPosiciones = "", classPronostico = "", classEstadistica = "", classAyuda = "", classIngresoMarcadores = "", classUsuarios = "", classAdmin = "";
    int idMenu = ViewBag.DatosLogin.id_menu;
    
    switch (idMenu){
        case 1:
            classTablaPosiciones = "active";
            break;
        case 2:
            classPronostico = "active";
            break;
        case 3:
            classEstadistica = "active";
            break;
        case 4:
            classAyuda = "active";
            break;
        case 5:
            classAdmin = "active";
            classIngresoMarcadores = "active";
            break;
        case 6:
            classAdmin = "active";
            classUsuarios = "active";
            break;
    }
}
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por favor, espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="~/Quiniela/Posiciones/@ViewBag.DatosLogin.id_alias">QUINIELA 2018</a>
            </div>

        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    @if (ViewBag.DatosLogin.picture != "")
                    {
                        <img src="@ViewBag.DatosLogin.picture" width="48" height="48" alt="User" />
                    }
                    else
                    { 
                         <img src="../../images/user.png" width="48" height="48" alt="User" />
                    }
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.DatosLogin.nickname</div>
                    <div class="email">@ViewBag.DatosLogin.email</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Salir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MUNDIAL RUSIA 2018</li>
                    <li class="@classTablaPosiciones">
                        <a href='~/Quiniela/Posiciones/@ViewBag.DatosLogin.id_alias'>
                            <i class="material-icons">format_list_numbered</i>
                            <span>Tabla de Posiciones</span>
                        </a>
                    </li>
                    <li class="@classPronostico">
                        <a href='~/Quiniela/IngresoPronostico/@ViewBag.DatosLogin.id_alias'>
                            <i class="material-icons">edit</i>
                            <span>Ingreso de Pron&oacute;sticos</span>
                        </a>
                    </li>
                    <li class="@classEstadistica">
                        <a href="pages/helper-classes.html">
                            <i class="material-icons">poll</i>
                            <span>Estad&iacute;sticas</span>
                        </a>
                    </li>
                    <li class="@classAyuda">
                        <a href="pages/helper-classes.html">
                            <i class="material-icons">help_outline</i>
                            <span>Ayuda</span>
                        </a>
                    </li>
                    <li class="@classAdmin">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">settings</i>
                            <span>Administradores</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="@classIngresoMarcadores">
                                <a href='~/Quiniela/IngresoMarcadores/'>Ingreso Marcadores</a>
                            </li>
                            <li class="@classUsuarios">
                                <a href='~/Quiniela/ListaUsuario/'>Usuarios</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- #Menu -->

        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>


    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    
    <!-- Custom Js -->
    @RenderSection("CustomJs", false)
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/cards/basic.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
</body>

</html>